<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.kgc.order.server.mapper.OrderItemMapper">
    <resultMap id="itemMap" type="OrderItem">
        <id property="id" column="id"/>
        <result property="number" column="number"/>
        <result property="price" column="price"/>
        <association property="product">
            <id property="id" column="product_id"/>
        </association>
    </resultMap>

    <insert id="insertAllItems" parameterType="List">
        insert into order_item(product_id, number, price, order_id) values

        <foreach collection="list" item="t" separator=",">
            (${t.product.id}, #{t.number}, #{t.price}, #{t.orderId})
        </foreach>
    </insert>

    <select id="selectItemsByOid" parameterType="Integer" resultMap="itemMap">
        select * from order_item where order_id = #{orderId}
    </select>

</mapper>
