<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.kgc.product.server.mapper.ProductMapper">
    <resultMap id="productMap" type="Product">
        <id property="id" column="id"/>
        <association property="category" column="category_id"
                     select="cn.kgc.product.server.mapper.CategoryMapper.selectCategoryById"/>
    </resultMap>

    <select id="selectAllProducts" parameterType="Map" resultMap="productMap">
        select * from product

        <where>
            <if test="categoryId != null">
                category_id = #{categoryId}
            </if>
            <if test="productName != null">
                and name like concat("%", #{productName}, "%")
            </if>
            <if test="priceMin != null">
                and price &gt;= #{priceMin}
            </if>
            <if test="priceMax != null">
                and price &lt;= #{priceMax}
            </if>
        </where>
    </select>

    <select id="selectProductByList" parameterType="List" resultType="Product">
        select * from product where id in

        <foreach collection="list" item="pid" open="(" close=")" separator=",">
            #{pid}
        </foreach>
    </select>
</mapper>


